@{
    ViewBag.Title = "Không thể xóa";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2 style="color:red">KHÔNG THỂ XÓA VÌ TRÙNG KHÓA NGOẠI</h2>
<a class="nav-link" href="~/Admin/Index">TRỞ VỀ TRANG CHỦ</a>
