@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center;font-size:20px">BẢN ĐỒ</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.05763052321!2d106.62641391448592!3d10.806898161586348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be287a42a77%3A0xe2a986cb8920141c!2zMTQwIEzDqiBUcuG7jW5nIFThuqVuLCBQaMaw4budbmcgMTUsIFTDom4gUGjDuiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1573575599688!5m2!1svi!2s" width="700" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<h1 style="text-align:center;font-size:20px">GIỚI THIỆU</h1>
<p>
    GIỚI THIỆU THE SPACE VIỆT NAM

    Các thương hiệu mỹ phẩm lớn trên thế giới đua nhau tạo ra sự nổi bật cho sản phẩm của mình và The Space cũng không ngoại lệ.

    Chỉ mới xuất hiện trên thị trường một thời gian ngắn nhưng độ “bao phủ” của thương hiệu mỹ phẩm Việt Nam The Space đã có những thành công đáng kể trên thị trường mỹ phẩm Việt Nam. Các sản phẩm của The Space đã tạo nên cơn sốt mạnh mẽ trên hầu hết các diễn đàn làm đẹp. Vậy điều gì đã tạo nên thương hiệu mỹ phẩm The Space?
    The Space đến từ đâu?

    Hiện nay, trên thị trường xuất hiện rất nhiều thương hiệu mỹ phẩm tràn lan, vì vậy việc tìm kiếm cho bản thân một thương hiệu mỹ phẩm uy tín, giá cả hợp lý luôn là vấn đề được nhiều chị em phụ nữ quan tâm.

    Điều gì đã tạo nên thương hiệu mỹ phẩm xuất khẩu Việt Nam The Space?

    Cuộc sống ngày càng nâng cao, nhu cầu làm đẹp của con người ngày càng nhiều, xã hội ngày càng phức tạp hơn kéo theo đó có những nhà sản xuất kinh doanh vì lợi nhuận đã tung ra thị trường nhiều mỹ phẩm giả, trôi nổi, không có nguồn gốc xuất xứ được bày bán tràn lan. Trước tình cảnh đó thì The Space xuất hiện, đã mang đến một “làn gió mới” ở thị trường mỹ phẩm Việt Nam. Các sản phẩm của The Space luôn đáp ứng tiêu chí: Giá cả hợp lý – An toàn cho da – Chất lượng tuyệt đối, bạn có muốn làm đại lý mỹ phẩm Việt Nam The Space không?
</p>
