@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÁC NHẬN ĐƠN HÀNG</h2>
<p>Đơn hàng quý khách đã được chúng tôi tiếp nhận. Chúng tôi sẽ liên hệ quý khách sớm nhất và giao hàng đúng hẹn.</p>
@Html.ActionLink("TRỞ VỀ TRANG CHỦ","Index","Home")
